!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Parallelism by HTML5 UP
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
  %body.is-preload
    / Wrapper
    #wrapper
      / Main
      %section#main
        / Items
        .items
          .item.intro.span-2
            %h1 Parallelism
            %p
              A responsive portfolio site
              %br/
              template by HTML5 UP
          %article.item.thumb.span-1
            %h2 You really got me
            %a.image{:href => "images/fulls/01.jpg"}
              %img{:alt => "", src: "images/thumbs/01.jpg"}/
          %article.item.thumb.span-2
            %h2 Ad Infinitum
            %a.image{:href => "images/fulls/02.jpg"}
              %img{:alt => "", src: "images/thumbs/02.jpg"}/
          %article.item.thumb.span-1
            %h2 Different.
            %a.image{:href => "images/fulls/03.jpg"}
              %img{:alt => "", src: "images/thumbs/03.jpg"}/
          %article.item.thumb.span-1
            %h2 Elysium
            %a.image{:href => "images/fulls/04.jpg"}
              %img{:alt => "", src: "images/thumbs/04.jpg"}/
          %article.item.thumb.span-3
            %h2 Kingdom of the Wind
            %a.image{:href => "images/fulls/05.jpg"}
              %img{:alt => "", src: "images/thumbs/05.jpg"}/
          %article.item.thumb.span-1
            %h2 The Pursuit
            %a.image{:href => "images/fulls/06.jpg"}
              %img{:alt => "", src: "images/thumbs/06.jpg"}/
          %article.item.thumb.span-2
            %h2 Boundless
            %a.image{:href => "images/fulls/07.jpg"}
              %img{:alt => "", src: "images/thumbs/07.jpg"}/
          %article.item.thumb.span-2
            %h2 The Spectators
            %a.image{:href => "images/fulls/08.jpg"}
              %img{:alt => "", src: "images/thumbs/08.jpg"}/
        / Items
        .items
          %article.item.thumb.span-3
            %h2 Kingdom of the Wind
            %a.image{:href => "images/fulls/05.jpg"}
              %img{:alt => "", src: "images/thumbs/05.jpg"}/
          %article.item.thumb.span-1
            %h2 The Pursuit
            %a.image{:href => "images/fulls/06.jpg"}
              %img{:alt => "", src: "images/thumbs/06.jpg"}/
          %article.item.thumb.span-2
            %h2 Boundless
            %a.image{:href => "images/fulls/07.jpg"}
              %img{:alt => "", src: "images/thumbs/07.jpg"}/
          %article.item.thumb.span-2
            %h2 The Spectators
            %a.image{:href => "images/fulls/08.jpg"}
              %img{:alt => "", src: "images/thumbs/08.jpg"}/
          %article.item.thumb.span-1
            %h2 You really got me
            %a.image{:href => "images/fulls/01.jpg"}
              %img{:alt => "", src: "images/thumbs/01.jpg"}/
          %article.item.thumb.span-2
            %h2 Ad Infinitum
            %a.image{:href => "images/fulls/02.jpg"}
              %img{:alt => "", src: "images/thumbs/02.jpg"}/
          %article.item.thumb.span-1
            %h2 Different.
            %a.image{:href => "images/fulls/03.jpg"}
              %img{:alt => "", src: "images/thumbs/03.jpg"}/
          %article.item.thumb.span-2
            %h2 Kingdom of the Wind
            %a.image{:href => "images/fulls/05.jpg"}
              %img{:alt => "", src: "images/thumbs/05.jpg"}/
          %article.item.thumb.span-1
            %h2 Elysium
            %a.image{:href => "images/fulls/04.jpg"}
              %img{:alt => "", src: "images/thumbs/04.jpg"}/
      / Footer
      %section#footer
        %section
          %p
            This is
            = succeed "," do
              %strong Parallelism
            = succeed "." do
              %a{:href => "http://html5up.net"} HTML5 UP
            %a{:href => "http://html5up.net/license"} Creative Commons Attribution
            license.
        %section
          %ul.icons
            %li
              %a.icon.brands.fa-twitter{:href => "#"}
                %span.label Twitter
            %li
              %a.icon.brands.fa-instagram{:href => "#"}
                %span.label Instagram
            %li
              %a.icon.brands.fa-facebook-f{:href => "#"}
                %span.label Facebook
            %li
              %a.icon.brands.fa-dribbble{:href => "#"}
                %span.label Dribbble
            %li
              %a.icon.solid.fa-envelope{:href => "#"}
                %span.label Email
          %ul.copyright
            %li © Untitled
            %li
              Design:
              %a{:href => "http://html5up.net"} HTML5 UP
  
